$color-lilac: #7872ff;
$color-white: #fff;
$color-gray: #f5f5f5;
$color-gray-border: #ddd;

$color-text: #333;
$color-link: #0073aa;

$bg-active-color: #6c67e6;
$radius: 3px;

$padding: 6px;
$margin: 6px;
